<%- include("partials/header.ejs")%> <%- include("partials/menu.ejs")%>
<div class="container">
  <h1>Cadastro de Conta</h1>
  <form action="/consulta" method="post">
    <div class="container">
      <div>
        <label class="mt-2" for="obrigacao">Nome Conta</label>
        <input
        type="text"
        name="obrigacao"
        id="obrigacao"
        class="form-control"
        placeholder="Obrigação"
      />
      </div>
      <div>
        <label class="mt-2" for="competencia">Dia Chegada</label>
        <input
          type="date"
          name="competencia"
          id="competencia"
          class="form-control"
          placeholder="Dia Chegada"
        />
      </div>

      <div>
        <label class="mt-2" for="previsao">Previsão de Pagamento</label>
        <!-- <input
          type="text"
          name="previsao"
          id="previsao"
          class="form-control date"
          placeholder="Previsão"
        /> -->
        <input
          type="date"
          name="previsao"
          id="previsao"
          class="form-control"
          placeholder="Previsão de Pagamento"
        />
      </div>

      <div>
        <label class="mt-2" for="vencimento">Vencimento</label>
        <!-- <input
          type="text"
          name="vencimento"
          id="vencimento"
          class="form-control date"
          placeholder="Vencimento"
        /> -->
        <input
          type="date"
          name="vencimento"
          id="vencimento"
          class="form-control"
          placeholder="Vencimento"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-2">
        Agendar
      </button>
    </div>
  </form>
</div>
<%- include("partials/footer.ejs")%>
